/* Demo */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
  background: #006599;
  background: -webkit-linear-gradient(#0d6d9e, #006091);
  background: linear-gradient(#0d6d9e, #006091);
  border-bottom: 1px solid #00517a;
  color: #80b2cc;
}
.social-icon--linkedin:hover {
  color: #cce0eb;
  text-shadow: 0px 1px 0px #00517a;
}
.social-icon--linkedin .tooltip {
  background: #006599;
  background: -webkit-linear-gradient(#267ca8, #006599);
  background: linear-gradient(#267ca8, #006599);
  color: #cce0eb;
}
.social-icon--linkedin .tooltip:after {
  border-top-color: #006599;
}


.social-icon--facebook {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#4562a0, #385693);
  background: linear-gradient(#4562a0, #385693);
  border-bottom: 1px solid #2f487c;
  color: #9dadcd;
}
.social-icon--facebook:hover {
  color: #d8deeb;
  text-shadow: 0px 1px 0px #2f487c;
}
.social-icon--facebook .tooltip {
  background: #3b5a9b;
  background: -webkit-linear-gradient(#5873aa, #3b5a9b);
  background: linear-gradient(#5873aa, #3b5a9b);
  color: #d8deeb;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #3b5a9b;
}

.social-icon--google-plus {
  background: #D95032;
  background: -webkit-linear-gradient(#f06297, #D95032);
  background: linear-gradient(#f06297, #D95032);
  border-bottom: 1px solid #bf4875;
  color: #f7adc9;
}
.social-icon--google-plus:hover {
  color: #fcdee9;
  text-shadow: 0px 1px 0px #bf4875;
}
.social-icon--google-plus .tooltip {
  background: #D95032;
  background: -webkit-linear-gradient(#f173a2, #D95032);
  background: linear-gradient(#f173a2, #D95032);
  color: #fcdee9;
}
.social-icon--google-plus .tooltip:after {
  border-top-color: #D95032;
}

.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
